@{
}
@model SignUp

<form asp-action="Index" method="post">
    <div>
    <label asp-for="Username">Username</label>
    <input  asp-for="Username"/>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" />
    </div>
    <button type="submit">Bestätigen</button>
</form>